
<!--Type 4 : choix multiples / radio barre-->
<div *ngIf="question['type-reponse']===4" class="radio-barre" 
        style="width:80%; margin-left: auto; margin-right:auto;">
    <br/>
    <div *ngFor="let texteReponse of question['textes-reponses']; let k = index"
    style="width: 100%;">
        <input type="radio" id="radio-{{k}}" [name]="question['nom']" [value]="k"
            [ngModel]="this.reponse[i]" (ngModelChange)="onChange($event, i)" >
            <label for="radio-{{k}}" class="box" style="width: 100%;">
                <!--Texte-->
                <span *ngIf="this.texteReponse != ''">{{ texteReponse }}</span>
                <!--Image-->
                <img *ngIf="question['images-reponses'][k] != ''"
                        [src]="this.getUrlImage(question['images-reponses'][k])" 
                        style="width: 100%;">
            </label>
    </div>
</div>

<!--Type 5 : checkbox-->
<div *ngIf="question['type-reponse']===5" >
    <input class="input-checkbox" type="checkbox" [id]="question['nom']" [name]="question['nom']"
    [ngModel]="this.reponse[i]"  (ngModelChange)="onChange($event, i)">
    <label class="petit" [for]="question['nom']" [innerHtml]="'  ' + question['html']"></label>
</div>

<!--Type 7 : téléphone -->
<div *ngIf="question['type-reponse']===7">
    <label *ngIf="question['html']!==undefined" [for]="question['nom']" [innerHtml]="question['html']"></label><br/>
    <input [ngClass]="{'input': true, 'is-danger': this.verifChamp[i] === 1,
    'is-primary': this.verifChamp[i] === 2}" 
    class="input-text" type="number" [id]="question['nom']" [name]="question['nom']" 
    [placeholder]="question['placeholder']"
    pattern="[0-9]" 
    [ngModel]="this.reponse[i]"  (ngModelChange)="onChange($event, i)">
</div>

<!-- Type 8 : e-mail-->
<div *ngIf="question['type-reponse']===8">
    <p class="petit">Nous gardons toute donnée personnelle en lieu sûr juste pour nous. Pas de spam, que de l'impact positif, c'est plus Ouivalo !</p>
    <br/>
    <label *ngIf="question['html']!==undefined" [for]="question['nom']" [innerHtml]="question['html']"></label><br/>
    <input required [ngClass]="{'input': true, 'is-danger': this.verifChamp[i] === 1,
    'is-primary': this.verifChamp[i] === 2}" 
    class="input-text" type="email" [id]="question['nom']" [name]="question['nom']" 
    [placeholder]="question['placeholder']" 
    [ngModel]="this.reponse[i]"  (ngModelChange)="onChange($event, i)">
</div>
